<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
  <div class="flex">
    <div class="sidebar fixed h-screen w-[200px] bg-red-500">
      <div class="h-16 bg-black py-4 text-center text-2xl font-bold text-white">Omkar ERP</div>
      <button onclick="tog()">I am Button</button>
      <div>Menus</div>
    </div>
    <div id="main" class="ml-[200px] w-full bg-yellow-300">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Soluta voluptas, assumenda laborum obcaecati explicabo animi ipsam sit, provident dicta magnam ipsum facere ullam
      maiores harum quia dolores ratione totam consequatur, iste tempore optio tempora eveniet sequi? Officia nulla
      libero ut! Expedita consectetur voluptates maxime officia perspiciatis neque magnam rem possimus fugiat architecto
      ab deleniti eius quisquam adipisci quod provident, eligendi, repellat temporibus exercitationem optio aliquam
      quam. Minima quas veritatis est consequuntur, eos ipsa commodi aspernatur esse deleniti a molestias! Quibusdam
      temporibus debitis nam quae eaque blanditiis quasi dolor non nostrum reiciendis sapiente facilis quis quisquam quo
      aspernatur hic molestias, porro magnam rerum, illum nesciunt. Obcaecati, qui ab. Sapiente veniam sint accusamus
      commodi, blanditiis officiis error quis. Voluptatum harum pariatur provident id animi illum ipsam molestias beatae
      voluptatibus ab nesciunt tenetur consequuntur magni iste veritatis, quis praesentium asperiores. Sed dignissimos
      eius, cumque porro culpa aspernatur, iusto temporibus voluptates incidunt laudantium nostrum rem tenetur aut nulla
      quia sapiente dolor animi officia excepturi natus. Dolorem excepturi earum beatae sit aliquid iusto ipsum expedita
      quasi hic ratione repudiandae dolores itaque possimus magnam obcaecati fugiat exercitationem ab neque ullam
      dignissimos provident quidem, officia nobis eius. Asperiores nam aliquid sed dolore ratione tenetur, molestiae
      recusandae doloribus mollitia enim quo optio corrupti pariatur veritatis laborum error quaerat quibusdam ipsam
      facere fugiat? Harum blanditiis laborum debitis nulla sapiente, eveniet quidem deleniti id earum qui illum
      voluptate quas cumque distinctio, veniam dolore corporis eum veritatis aliquid! Quidem soluta quae fugit quia
      dolore doloremque sunt cupiditate, placeat laborum ab optio, voluptates explicabo numquam. Facere quas ipsa
      ratione nemo, temporibus voluptas aut, fugit ullam nisi neque, tempora est perspiciatis fugiat modi id laboriosam
      aliquam! Enim, quos rem atque facere nulla adipisci dicta temporibus ullam repellat. Officia quas inventore, hic
      quidem maiores accusantium sunt error, ullam soluta velit voluptatum minima rem. Molestiae et maxime provident
      consectetur consequuntur temporibus enim officiis eligendi inventore sapiente minus quos, velit culpa in quasi
      reprehenderit nam magnam aliquam obcaecati maiores cum. Dignissimos voluptatem ratione, recusandae quam in rem
      expedita amet esse mollitia quisquam accusantium, eaque id nulla. Distinctio enim exercitationem animi voluptas
      delectus, ab consequuntur? Sed, laborum. Quasi nulla doloribus animi distinctio ullam eum quaerat architecto!
      Fugit laudantium pariatur, dolor laborum dolorum error nemo aspernatur explicabo culpa. Ipsam sed non provident.
      Reprehenderit eligendi incidunt voluptatem doloribus ducimus quam beatae consequuntur distinctio nobis obcaecati
      delectus, error nam laudantium qui deleniti sed quae dolores dolorum aliquid, placeat aliquam quidem harum.
      Cupiditate, amet? Corporis tempora nemo quam nulla corrupti ea voluptates deleniti expedita, modi harum quae
      totam, consectetur, temporibus natus nisi dolorem voluptatum sit! Magnam officia voluptatibus voluptatem dolores
      accusamus quidem, eligendi possimus, dolore debitis nobis ratione quae quasi? Tempora, recusandae sed! Vero
      voluptatem eaque alias facilis dicta? Nulla adipisci incidunt consectetur? Provident fuga corrupti quis voluptatum
      esse, aut quae atque, qui tenetur sed possimus iusto officiis ipsam ut, ea vel hic eos? Reprehenderit expedita
      aliquam iste sapiente nobis nam sed excepturi. Architecto quam fugit minima magni perferendis magnam rerum quod
      dolor quaerat minus nam maiores doloremque facere aut illo asperiores, quae blanditiis pariatur. Quia modi,
      expedita, beatae ea culpa eveniet, quod suscipit in rem harum blanditiis unde cumque ipsa. Similique itaque,
      doloremque officiis laudantium ut minima a aliquam delectus et possimus odit nobis, voluptatum dignissimos
      inventore nesciunt! Quaerat voluptatem ex iure dolor odit suscipit, delectus eos ipsum! Repellat repudiandae iure
      illo tenetur officia? Explicabo est quia minus suscipit qui similique. Necessitatibus velit cum nam harum saepe,
      delectus amet, aliquam iste qui molestias voluptatibus asperiores et, facere tempore! Non, recusandae! Aliquam
      corrupti asperiores atque blanditiis aut, quas ea ut explicabo? Adipisci, sit? Eos deleniti provident minus omnis
      accusamus? Eligendi doloremque earum similique deserunt, praesentium placeat nam quaerat vitae tempore adipisci,
      velit eius ipsa aut. Quos esse distinctio sed quis tempore? Sunt totam excepturi illo saepe minus beatae ad libero
      aliquam ex enim cum, iste a voluptas aliquid molestias, aut ducimus soluta hic suscipit in sit maiores laudantium!
      Laborum aliquam mollitia ratione, accusantium illo magni eum doloremque quo nostrum unde deleniti quae iure,
      quidem, aut dignissimos quibusdam facere itaque praesentium? Fuga exercitationem facere, sit dolor velit ea quas
      saepe? Quo delectus, labore sapiente deserunt praesentium et quisquam tempora molestiae iure non. Nisi consectetur
      numquam beatae, earum eveniet provident itaque illum doloribus magni iusto odit fugiat, soluta necessitatibus
      consequatur facere molestias eum, perferendis totam mollitia? Cum rem reprehenderit aspernatur? Iure dolorem ipsum
      cupiditate molestiae deserunt et rem, blanditiis mollitia quam, repellendus, recusandae ducimus vel laudantium
      ipsa sunt animi modi delectus! Odio est accusamus ut, repellendus necessitatibus laborum deleniti maxime
      consequatur debitis cum voluptatum qui aperiam id natus iusto soluta itaque? Accusantium perspiciatis molestias
      sed incidunt mollitia expedita labore, illo quos, deleniti voluptates asperiores at aperiam esse sunt inventore
      neque dolorem ut distinctio debitis deserunt dolorum fugit nam! Ullam, tenetur officiis cupiditate non quam,
      asperiores corporis iure dolore porro quas eum odit, delectus at quibusdam expedita a beatae repellat quaerat
      aperiam similique voluptatum nisi mollitia recusandae ipsum! Veritatis cumque amet sit provident dolor, dolores
      impedit ea, culpa odio iure, quam quisquam quaerat quos? In rerum voluptatibus nemo mollitia, eos veniam impedit
      beatae at facilis sapiente dolores, voluptate pariatur ipsa! Eius tempora eligendi repudiandae quod debitis, ea
      odit sed architecto. Facere facilis minus temporibus fugiat velit, iste cupiditate eveniet ipsam libero. Dolore,
      neque placeat cumque vitae reprehenderit sapiente inventore labore, numquam possimus alias quisquam! Cupiditate
      voluptatem tempora explicabo, numquam quia molestiae omnis ipsam, soluta rerum tenetur facere officiis consequatur
      at reprehenderit eligendi voluptas fuga voluptatibus excepturi corporis ea perferendis sapiente placeat. Dolor
      doloribus distinctio, sit quasi labore quo voluptas dicta inventore vitae placeat rerum ipsa. Nihil dolorem
      numquam accusantium repellat in quidem quia, blanditiis recusandae esse quisquam adipisci a amet veritatis
      incidunt perferendis. Debitis error quam porro expedita accusantium ipsam quod a quo dolorum hic nobis corrupti
      nesciunt blanditiis rerum, reiciendis ex vero laborum consequuntur ullam! Sapiente, unde architecto, optio ipsam
      soluta est repellendus minus distinctio facilis blanditiis nemo non corrupti quisquam voluptatum, vitae quaerat
      ducimus rem. Tempora velit commodi corrupti ipsa, cupiditate nesciunt rem voluptatum sint laborum aut nobis illum
      modi ad repellat.
    </div>
  </div>
  <script>
    var sidebar = document.getElementsByClassName('sidebar')[0]
    var main = document.getElementById("main") 
    function tog() {
      const isCollapsed = sidebar.classList.contains("w-[50px]");

      if (isCollapsed) {
        // Expand sidebar
        sidebar.classList.remove("w-[50px]");
        sidebar.classList.add("w-[200px]");

        main.classList.remove("ml-[50px]");
        main.classList.add("ml-[200px]");
      } else {
        // Collapse sidebar
        sidebar.classList.remove("w-[200px]");
        sidebar.classList.add("w-[50px]");

        main.classList.remove("ml-[200px]");
        main.classList.add("ml-[50px]");
      }
    }

  </script>
</body>

</html>